@import url("https://fonts.googleapis.com/css?family=Roboto");
.center {
    text-align: center;
    width: 50%;
    margin: auto;
}
* {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body { height:100vh; margin:0; background: #333333;}

header { min-height:50px; background:#33914c; margin-bottom: 10px;}
footer { min-height:50px; background:#33914c; text-align: center;}

/* Trick */
body { 
  display:flex; 
  flex-direction:column;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

footer {
  margin-top: auto;
  padding: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cbut {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh);
}
.buttondiv {
    text-align: center;
}
.mostButtons {
    background-color: #33914c;
    border-radius: 11px;
    padding: 7px;
    font-size: 110%;
    color: white;
    border: 1px solid #33914c;
    box-shadow: none;
    text-align: center;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.mostButtons:hover {
    background-color: #3db35c;
    border-radius: 11px;
    padding: 7px;
    font-size: 110%;
    color: white;
    border: 1px solid #33914c;
    box-shadow: none;
    text-align: center;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.mostButtons:active {
    background-color: #216132;
    border-radius: 11px;
    padding: 7px;
    font-size: 110%;
    color: white;
    border: 1px solid #33914c;
    box-shadow: none;
    text-align: center;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.inheader {
    padding: 10px;
}
a {
    cursor: alias;
    color: rgb(37, 155, 190);
}
a:visited {
    color:rgb(160, 58, 228);
}
a:hover {
    color: rgb(57, 195, 236);
}
#foottext {
    color:whitesmoke;
}
#footlink {
    color: rgb(70, 238, 250);
    text-decoration: underline;
}
.content {
    padding: 10px;
}
